/* TEXT STYLES */
body, p, a, a:hover, ul, ol, li, h1, h2, h3, h4, h5 { margin: 0px; padding: 0px; }

html { background-color: red; }

body {
font-family: "PT Sans";
color: #7d7d7d;
font-size: 16px;
line-height: 24px;
}

.content {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	background-color: black;
}

.wrapper {
	max-width: 1800px;
	min-width: 400px;
	margin: 0px 20px;
	overflow: none;
	background-color: pink;
	display: block;
}
	
img {
	float: left;
}

img.album {
	width: 200px;
}